
input {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 3px solid #fcbe32;
  font-size: 18pt;
  color: #004e66;
  min-width: 10em;
  margin-top: 1em;
  text-align: center;
}

p {
  margin-top: -1em;
  font-size: 10pt;
}

img {
  text-align: center;
  max-width: 4em;
}

button {
  border: 0;
  outline: 0;
  background: transparent;
  font-size: 18pt;
  color: #fcbe32;
  font-weight: bold;
  cursor: pointer;
}

.container {
  margin: 1em 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  text-align: left;
  padding: 2em 2em;
  margin: 1em 1em;
  width: 20em;
  height: 35em;
  color: #fff;
  border-radius: 2%;
  background-color: #004e66;
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
}

.ImgContainer {
  text-align: center;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
    transform: translatey(-10px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatey(0px);
  }
}


::placeholder {
  color: #004e66;
}

